@model KTN5.Models.User
@{
    ViewBag.Title = "註冊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/Content/send-success.css" rel="stylesheet" />

}

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="send-letter">
            <div class="send-success">

                <div class="send-icon">
                    <h1><i class="fa-solid fa-check"></i></h1>
                </div>
                <br>

                <h2>註冊完成</h2>

                <p>歡迎使用&nbsp;&nbsp;樂心公益平台</p>

                <div class="send-helper">
                    <a href="@Url.Action("Login")">返回登入</a>
                </div>

            </div>
        </div>
    }
}
else
{
    <!-- The Modal -->
    <div id="myregister1" class="register1">

        <!-- Modal content -->
        <div class="register1-content">

            <div class="well">
                <h2>註冊</h2>
                <br>

                <div class="tabs">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">一般會員</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">公益團體</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <!-- ... -->
                            <form class="form-User" action="~/User/Registration" method="post">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" class="form-control" name="role" value="一般會員" />

                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" value="" placeholder="姓名" required>
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" name="account" value="" placeholder="註冊信箱" required>
                                    @Html.ValidationMessageFor(model => model.account, "", new { @class = "text-danger" })
                                    @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" value="" panel placeholder="密碼" id="pwd-1" maxlength="12" required>
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" name="ConfirmPassword" value="" panel placeholder="確認密碼" id="pwd-2" maxlength="12" required>
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>

                                <div class="pwd-text2">
                                    <input type="checkbox" onclick="myFunction()">  顯示密碼
                                </div>

                                <div>
                                    <input type="submit" class="sub btn" value="註冊">
                                </div>

                            </form>

                        </div>


                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <!-- ... -->
                            <form class="form-Charity-Member" action="~/User/Registration" method="post">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" class="form-control" name="role" value="公益單位" />

                                <div class="form-group">
                                    <input type="text" class="form-control" name="charityName" value="" placeholder="單位名" required>
                                    @Html.ValidationMessage("CharityExist", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" value="" placeholder="負責人" required>
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" name="account" value="" placeholder="註冊信箱" required>
                                    @Html.ValidationMessageFor(model => model.account, "", new { @class = "text-danger" })
                                    @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" value="" panel placeholder="密碼" id="pwd-3" maxlength="12" required>
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" name="ConfirmPassword" value="" panel placeholder="確認密碼" id="pwd-4" maxlength="12" required>
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>

                                <div class="pwd-text2">
                                    <input type="checkbox" onclick="myFunction()">  顯示密碼
                                </div>

                                <div>
                                    <input type="submit" class="sub btn" value="註冊">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    @section Scripts{
        <script src="~/Scripts/register.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
