<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.title</title>
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="~/Content/footer.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <link href="~/Content/購物車列表.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <script>
        $(document).ready(function () {
            $("#btnSend").on("click", sendMail);
            function sendMail() {
                var name, email, message;
                name = $("#name").val();
                email = $("#email").val();
                message = $("#message").val();

                var mailData = JSON.stringify({
                    Name: name,
                    Email: email,
                    Message: message
                });
                //alert(mailData);
                $.ajax({
                    url: '@Url.Action("SendEmail", "Mail")',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: mailData,
                    success: function (response) {
                        alert(response);
                        console.log(response);
                    },
                    error: function (response) {
                        alert(response.responseText);
                        console.log(response);
                    },
                });
            }
        });
    </script>
    <header class="navbar-header">
        <div class="wrapper">
            <div class="logo">
                <a href="@Url.Action("Index","Home")"><img src="~/images/LOGO.png" alt="" width="300px" /></a>
            </div>
            <nav class="navbar-nav">
                <div class="dropdown">
                    <div class="activity">
                        <a href="#">公益活動<i class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-content">
                            <li><a href="@Url.Action("Create","Fund")">提案</a></li>
                            <li><a href="@Url.Action("Index","Fund")">探索</a></li>

                        </ul>
                    </div>
                    <div class="invoice">
                        <a href="#">公益捐贈<i class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-content">
                            <li><a href="@Url.Action("Index","Object")">物資捐贈</a></li>
                            @if (!string.IsNullOrEmpty(ViewBag.Role))
                            {
                                <li><a href="@Url.Action("List","Object")">物資管理</a></li>
                            }
                        </ul>
                    </div>
                    <a href="@Url.Action("List","Restaurant")">愛心餐廳</a>
                    <a href="@Url.Action("List","Map")">捐血地圖</a>
                </div>
            </nav>
            @if (Request.IsAuthenticated)
            {
                <div class="buttons">
                    <div class="btn-group w-50">
                        <button type="button" class="btn dropdown-toggle me-5" data-bs-toggle="dropdown" aria-expanded="false">
                            @if (ViewBag.photo == null && ViewBag.Role == "一般會員")
                            {
                                <img src="~/images/User_icon.svg" width="50px" height="50px" class="rounded-circle">

                            }
                            else if (ViewBag.photo == null && ViewBag.Role == "公益單位")
                            {
                                <img src="~/images/Charity_icon.svg" width="50px" height="50px" class="rounded-circle" />
                            }
                            else if (ViewBag.photo == null && ViewBag.Role == "管理員")
                            {

                                <img src="~/images/CMS_icon.svg" width="50px" height="50px" class="rounded-circle"/>
                            }
                            else
                            {
                                <img src="~/UserPhotos/@ViewBag.photo" width="50px" height="50px" class="rounded-circle">

                            }
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("EditProfile","User")">設定會員資料</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("EditPassword","User")">變更密碼</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("SponsorDetail","Fund")">贊助紀錄</a></li>
                            @if (ViewBag.Role == "公益單位")
                            {
                                <li><a class="dropdown-item" href="@Url.Action("Edit","Charity")">編輯公益單位資料</a></li>

                            }
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="@Url.Action("Logout","User")">登出</a></li>
                        </ul>
                    </div>
                    @if (ViewBag.Role == "公益單位" || ViewBag.Role == "一般會員")
                    {
                        <div class="shoppingcart-icon">
                            <a href="@Url.Action("Index","ShoppingCart")"><i class="bi bi-basket2-fill"></i> </a>
                            <span class="cart-count">@Session["Cart"]</span>
                        </div>
                    }

                </div>

            }
            else
            {
                <div class="buttons">
                    <div class="login btn"><a href="~/User/Login">會員登入</a></div>
                    <div class="register btn"><a href="~/User/Registration">註冊</a></div>
                </div>
            }
        </div>
    </header>

    <main>
        @RenderBody()
    </main>
    <footer>
        <section class="footer-content ">
            <div class="left-info co1-12 mb-5 mr-md-4">
                <div>
                    <img src="~/images/LOGO.png" alt="" width="60%" />
                </div>
                <br />
                <h4>關於我們</h4>
                <div class="aboutUs">
                    <p>
                        樂心公益平台是一個線上公益平台，協助公益單位募款、募資及提供各種公益相關的資訊，透過網路縮短公益團體與捐款人的距離；透過平台降低公益團體使用網路募款的門檻，並提供捐款人多元捐款方式，簡化捐款流程，讓募款及捐款都更有效率、更透明！
                    </p>
                </div>

                <h4>聯絡我們</h4>
                <div class="phone">
                    <i class="fas fa-phone" style="color: #5f1985"> </i>
                    <span style="font-size: 18px"> 0800-770-885</span><br />
                    <i class="fas fa-envelope" style="color: #5f1985"> </i>
                    <span style="font-size: 18px"> Charity@gmail.com</span>
                </div>
                <br /> <br />
                <div class="Copyright">
                    <p>Copyright© 2022 Charity Inc.</p>
                </div>
            </div>
            <div class="right-form col-12 col-md-8">
                <div class="footer-form">
                    <form>
                        <h4>樂心意見信箱</h4>
                        <p>您的鼓勵是我們持續前進的動力，有任何問題歡迎留言給我們。</p>
                        <div class="form-group">
                            <label for="name">姓 名</label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   placeholder="留下您的稱呼"
                                   title="name"
                                   required />
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="輸入您的email"
                                   title="email"
                                   required />
                        </div>
                        <div class="form-group">
                            <label for="message">意見回饋</label>
                            <textarea class="form-control" placeholder="您鼓勵的話語或寶貴的建議" title="message" required
                                      id="message" style="height: 150px"></textarea>


                            <button type="button" id="btnSend" class="btn1 btn-primary">送 出</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </footer>
    @RenderSection("Scripts", false)
    @*<script src="~/Scripts/cart_number_counter.js"></script>*@
</body>
</html>
