@model KTN5.Models.Charity_Member

@{
    ViewBag.Title = "編輯公益單位資料";
    Layout = "~/Views/Shared/Navbar.cshtml";
}
@section Styles{
    <link href="~/Content/User-info.css" rel="stylesheet" />
}

<section class="user-info">
    <div class="container p-5">
        <div class="personal-information">
            <div class="info-title">公益單位資訊</div>
            <br>

            <form class="personal-info" action="@Url.Action("Edit")" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="d-flex">
                    <div class="col-6 text-center">

                        <div class="personal-img">
                            <img src="~/images/Charity_icon.svg" id="user-img" width="250" height="250" style="border-radius: 50%">
                        </div>
                        <br>
                        <div class="personal-wrap">
                            <div class="personal-btn">
                                <label class="upload-btn" for="upload"><i class="bi bi-camera"></i>上傳照片</label>
                                <input type="file" name="photo" id="upload" onchange="previewFile()"><br>
                            </div>
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="personal-group1">
                            <label for="c-name">公益單位</label>
                        </div>
                        <div class="personal-group2">
                            <input type="text" class="form-control" name="c_name" value="@Model.c_name" placeholder="公益單位名稱" readonly required><br>
                        </div>

                        <div class="personal-group1">
                            <label for="c-name">負責人</label>
                        </div>
                        <div class="personal-group2">
                            <input type="text" class="form-control" name="c_pname" value="@Model.c_pname" placeholder="姓名" required><br>
                        </div>

                        <div class="personal-group1">
                            <label for="c-phone">電話</label>
                        </div>
                        <div class="personal-group2">
                            <input type="tel" class="form-control" name="c_phone" value="@Model.c_phone" placeholder="電話號碼" maxlength="10"><br>
                        </div>

                        <div class="personal-group1">
                            <label for="c-address">地址</label>
                        </div>
                        <div class="personal-group2">
                            <input type="text" class="form-control" name="c_address" value="@Model.c_address" placeholder="地址" maxlength=30><br>
                        </div>

                        <div class="personal-group1">
                            <label for="c-name">愛心碼</label>
                        </div>
                        <div class="personal-group2">
                            <input type="number" class="form-control" name="heart_code" value="@Model.heart_code" placeholder="愛心碼" maxlength="8"><br>
                        </div>

                        <br>
                        <div class="personal-line">
                            <input type="submit" class="personal-save btn" value="儲存">
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</section>




<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
