@model IEnumerable<KTN5.Models.ShoppingCart>
@{
    ViewBag.Title = "捐贈籃列表";
    Layout = "~/Views/Shared/Navbar.cshtml";
}
@*@section Styles{
    <link href="~/Content/購物車列表.css" rel="stylesheet" />

}*@ 
<section class="container list-container shoppingcart-list">
    <div class="cart-container">
        <div class="section-header">
            <h5 class="mb-0">列表</h5>
        </div>
        <div class="section-body cart-items">
            <div class="table-header row m-0">
                <div class="col-2"><h6>物資編號</h6></div>
                <div class="col-3"><h6>物資名稱</h6></div>
                <div class="col-3"><h6>物資介紹</h6></div>
                <div class="col-3"><h6>捐贈數量</h6></div>
                <div class="col-1"></div>
            </div>
            @foreach (var item in Model)
            {
                <div class="cart-item row p-3">
                    <div class="col-2">@Html.DisplayFor(modelItem => item.oId)</div>
                    <div class="col-3">@Html.DisplayFor(modelItem => item.oName)</div>
                    <div class="col-3">@Html.DisplayFor(modelItem => item.oIntro)</div>
                    <div class="col-3">
                        <a href="@Url.Action("ShoppingCartAddQty")?cartId=@item.cartId"><i class="fa-solid fa-circle-plus"></i></a>
                        <span class="numValue p-2">@Html.DisplayFor(modelItem => item.oQty)</span>
                        <a href="@Url.Action("ShoppingCartSubQty")?cartId=@item.cartId"><i class="fa-solid fa-circle-minus"></i></a>
                    </div>
                    <div class="col-1"><a href="@Url.Action("ShoppingCartDelete")?cartId=@item.cartId"><i class="fa-solid fa-trash-can"></i></a></div>
                </div>
            }

           
        </div>
    </div>


    <div class="contactInfo-container">
        <div class="section-header">
            <h5 class="mb-0">聯絡資料</h5>
        </div>
        <div class="section-body contact-items p-4">
            <h6>*請填寫捐贈資訊</h6>
            <form  method="post" action="@Url.Action("Order","Order")">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">捐贈者姓名</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputEmail1"
                           name="hName"
                           aria-descr
                           ibedby="emailHelp" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">捐贈者電話</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputEmail1"
                           name="hPhone"
                           aria-describedby="emailHelp" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">電子信箱</label>
                    <input type="email"
                           class="form-control"
                           id="exampleInputEmail1"
                           name="hEmail"
                           aria-describedby="emailHelp" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">物資運送方式</label>
                    <input type="text"
                           class="form-control"
                           name="hCarrier"
                           id="exampleInputEmail1"
                           aria-describedby="emailHelp" />
                </div>
                <button type="submit" class="btn-submit">送出</button>
            </form>
        </div>
    </div>
</section>

@*<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.oId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oIntro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oQty)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.oId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oIntro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oQty)
            </td>
            <td>

                <a href="@Url.Action("ShoppingCartAddQty")?cartId=@item.cartId" class="btn btn-info">+1</a>
                <a href="@Url.Action("ShoppingCartSubQty")?cartId=@item.cartId" class="btn btn-warning">-1</a>
                <a href="@Url.Action("ShoppingCartDelete")?cartId=@item.cartId" class="btn btn-danger">刪除此項目</a>

            </td>
        </tr>
    }

</table>

<hr />
<h2>聯絡資料</h2>
<form method="post" action="@Url.Action("Order","Order")">
    <div class="panel panel-success">
        <div class="panel-heading">請填寫捐贈資訊</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="hName">捐贈者姓名</label>
                <input type="text" class="form-control" id="hName" name="hName" required>
            </div>
            <div class="form-group">
                <label for="hPhone">捐贈者電話</label>
                <input type="text" class="form-control" id="hPhone" name="hPhone" required>
            </div>
            <div class="form-group">
                <label for="hEmail">電子信箱</label>
                <input type="email" class="form-control" id="hEmail" name="hEmail" required>
            </div>
            <div class="form-group">
                <label for="hCarrier">物資運送方式</label>
                <input type="text" class="form-control" id="hCarrier" name="hCarrier" required>
            </div>


            <div class="form-group">
                <input type="submit" class="btn btn-success" value="送出">
            </div>
        </div>
    </div>
</form>*@

