@model IEnumerable<KTN5.Models.Object>
@{
    ViewBag.Title = "物資管理";
    Layout = "~/Views/Shared/Navbar.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="~/Content/Object-Store.css" rel="stylesheet" />
}

<script>
    function Delete(id) {
        var r = confirm("確定要刪除嗎?");
        if (r == true) {
            this.location.href = '@Url.Action("Delete")?id=' + id;
        }
    }

</script>


<section class="object-store">
    <div class="container p-5">

        <div class="d-flex">
            <div class="col-6" style="height: 60px;">
                <h3 class="mb-3" style="font-weight:bold; color: #5f1985;">物資管理</h3>
            </div>
            <div class="col-6" style="height: 60px;">

            </div>
        </div>
        <div class="d-flex">
            <div class="col-6" style="height: 60px;">
                <div class="wrap">
                    <div class="search">
                        @using (Html.BeginForm())
                        {
                            <input class="search-bar" type="text" name="txtKeyword" id="search" placeholder="搜尋">
                            <button class="search-btn" type="submit"><i class="bi bi-search"></i></button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-6" style="height: 60px;">
                <div class="det-line">
                    <button type="button" class="create-btn" onClick="location.href = '@Url.Action("Create")'">
                        <i class="fa-solid fa-plus"></i>&nbsp;建立
                    </button>
                </div>
            </div>
        </div>

        <div class="d-flex">
            <table class="table align-middle">
                <thead class="table-dark">
                    <tr class="table-head">
                        <th scope="col">編號</th>
                        <th scope="col">品名</th>
                        <th scope="col">照片</th>
                        <th scope="col">需求數量</th>
                        <th scope="col">需求說明</th>
                        <th scope="col">類別</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                        foreach (var item in Model)
                        {
                            count++;

                            <tr class="list">
                                <th scope="row" class="o-id">@count</th>
                                <td class="o-Name">@item.oName</td>
                                <td><input type="image" img src="~/Content/oPhoto/@item.oPhoto" width="100" height="100" alt=""></td>
                                <td class="o-Number">@item.oNumber</td>
                                <td class="o-Intro">@item.oIntro</td>
                                <td class="o-type">@item.type</td>
                                <td class="o-btn"><button type="button" class="update-btn" onclick="location.href = '@Url.Action("Edit")?id=@item.oId'">編輯</button></td>
                                <td class="o-btn"><button type="button" class="delete-btn" onclick="Delete(@item.oId)">刪除</button></td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div>

    </div>
</section>


<script src="~/Scripts/Object-Create.js"></script>